@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');      

.left-side{           
  width: 25%;
  float: left;
  height: 2000px;
  color: aliceblue;
  background-color: black;
  font-family: 'Jua', sans-serif;
}

.left-side .person_photo{
  margin-top: 10%;
  margin-left: 15%;
  margin-bottom: 0%;
  width: 150px;
}

.left-side h5{
   font-style: bold;
}


.left-side .person_id{
  margin: 10%;
  margin-left: 5%;
  color: white;
}

.left-side .person_project{
  margin: 10%;
  margin-bottom: 0%;
  margin-left: 5%;
  margin-top : -20%;
  color: white;
}

.left-side .progress{
  width: 70%;
}
.left-side .person_certificate{
  margin: 10%;
  margin-left: 5%;
  color: white;
}


.right-side{        /*�ㅻⅨ履� �곸뿭�쇰줈 �섎닎*/
  width: 75%;
  height: 2000px;
  float: right;
  box-sizing: border-box;
  background-color: beige;
  font-family: 'Jua', sans-serif;
}


.left-side h5{
  font-style: bold;
}

.left-side .person_project{
  margin: 10%;
  margin-bottom: 0%;
  margin-left: 5%;
  margin-top : -20%;
  color: white;
 }


.right-side .right-text{
 margin: 10%;
 margin-left: 5%;
 color: black;
 margin-top: 1%
}

.right-side .right-text{
  margin: 10%;
  margin-left: 5%;
  color: black;
  margin-top: 4%
 }

 .right-side .right-text-title{
    font-style: bold;
    font-size: 20px;
 }

 .right-side .poto{
   font-size: 20px;
   font-weight: 500;
   line-height: 40px;
 }

 .right-side .accordion{
  margin-top: 5px;
}



.player_table button
{
  background-color: rgb(233, 106, 106);
  transition: background-color .5s;
  width: 20px;
  height: 20px;
  border: 0;
  outline: 0;
}

.player_table button:hover
{
  background-color: rgb(252, 0, 0) ;
  width: 20px;
  height: 20px;
  border: 0;
  outline: 0;
}


.player_table img
{
  width: 64px;
  height: 64px;
  border-radius: 10px;
  
}
 
#btn_Link
{
  color: rgb(5, 50, 148);
  text-align: right;
}